.widget {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  /* box shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.widget h2 {
  padding: 10px;
}
.description {
  max-height: 100px; /* Adjust as needed */
  padding: 10px;
  overflow: hidden;
}

.description.expanded {
  max-height: none;
}

.show-more {
  margin-top: 10px;
  width: fit-content;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  margin-right: 10px;
}

.show-more-whole {
  margin-top: 10px;
  width: fit-content;
  align-self: flex-end;

}

.show-more:hover {
  background-color: #0056b3;
}

