.app{
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
.main-content {
  min-width: 500px;
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar-right{
  min-width: 300px;
  position: relative;
  height: 90vh;
  overflow: scroll;
}