/* Form.css */

.form-container {
  height: 90dvh;
  width: 100%;
  padding: 20px;
  margin:  auto;
  overflow-x: auto;
}

.form-container h2{
  text-align: center;
  margin-bottom: 20px;
}
.form-container label {
  display: block;
  margin: 20px 0px 10px;
}

.form-container input[type="text"],
.form-container input[type="tel"],
.form-container input[type="email"],
.form-container input[type="date"],
.form-container input[type="number"],
.form-container input[type="time"],
.form-container textarea,
.form-container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container  select[multiple] {
  height: 100px; /* Adjust as needed */
}

.form-container  button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container  button[type="button"] {
  background-color: #ccc;
}

.form-container button[type="submit"] {
  background-color: #28a745;
}

.form-container button:hover {
  opacity: 0.8;
}

.all-projects {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.add-project {
  /* make button round shape */
  border-radius: 50%;
}